.button{
	color: $dark-blue;
	display: inline-block;
	font-size: 1.125em;
	font-weight: 600;
	padding: 0.5em 0.75em;
	border-radius: 2px;
	border:1px solid $dark-blue;
	background: none;
	white-space: nowrap;

	&:hover{
		cursor: pointer;
		background: $dark-blue;
		color: $white;
		@include transition(all, 0.25s);
	}
}

.button--invisible{
	padding-left:0;
	padding-right:0;
	border-width: 0;	
	font-size: 1rem;

	&:hover{
		background: none;
	}
}

//the button--arrow uses an svg arrow (.icon-arrow)
.button--arrow{
	position: relative;
	padding-right: 2.5em;

	.icon-arrow{
		display:inline-block;
		fill: $white;
		stroke: $white;
		margin-left: .5em;
		position: absolute;
		top: 50%;
		right: 1em;
		transform: translateY(-50%);
	}
	
	//combo case
	&.button--invisible{
		padding-right: 1.25em;

		.icon-arrow{
			right: 0;
		}
	}
}

.button--white{
	color: $white;
	border-color: $white;
}

.button--grey{
	color: $dark-grey;
	border-color: $dark-grey;
}

.button--nohov{
	&:hover{
		color: inherit;
	}
}