/**
 * Input field that has abutton tacked on the right side
 * the svg icon could be interchanged in the markup
 */
.buttonField{
	margin-bottom: 1em;
	position: relative;
	height: 35px;

	input{
		height:35px;
		width:calc(100% - 30px);
		padding:0.25em 0.5em;
		background: $light-grey;
		border:none;
		font-size: 1em;
		border-radius:1px 0 0 1px;
		position: absolute;
		left:0;
	}

	button{
		position: absolute;
		right:0;
		background: $light-blue;
		width: 35px;
		height: 35px;
		padding: 9px;
		border: none;
		border-radius: 0 1px 1px 0;

		&:hover{
			cursor: pointer;
			background: $dark-blue;
			@include transition(all, 0.25s);
		}

		svg{
			fill: $white;
			width: 15px;
			height: 15px;
		}
	}
}