/**
 * A fun module to keep images snapped into the boundaries of a container
 * Requires a bit of extra markup, but makes scaling images less head-achey
 */

.forceAspect{
	position: relative;
	width:100%;
}

.forceAspect__img-wrap{
	height: 100%;
	left: -100%;
	position: absolute;
	top: 0;
	width: 300%;
	
	img{
		display:block;
		height: 100%;
		margin: 0 auto;
		max-width: none;
		position: relative;
		top: 50%;
		transform: translateY(-50%); //images roughly centered in their container
		width: auto;
	}
}

.forceAspect__img-wrap--snap{
	img{
		height: auto;
		width: 34%; //(one thirs of the 300%)
	}
}

.forceAspect__dummy{
	left:0;
	padding-bottom: 50%; //this can be over-ridden a the layout level for different effects
	position: relative;
	top:0;
	width: 100%;
}