.forceAspect{
	position: relative;
	width:100%;
}

.forceAspect__img-wrap{
	width: 300%;
	position: absolute;
	left: -100%;
	top: 0;
	height: 100%;

	img{
		display:block;
		margin: 0 auto;
		height: 100%;
		width: auto;
		max-width: none;
	}
}

.forceAspect__img-wrap--snap{
	img{
		height: auto;
		width: 34%;
	}
}

.forceAspect__dummy{
	position: relative;
	top:0;
	left:0;
	padding-bottom: 50%; //this can be over-ridden a the layout level for different effects?
	width: 100%;
}