/**
 * Module to generate a hamburger menu button with pseudos
 */

.menuButton{
	display:block;
	background: none;
	border: none;
	position: relative;
	width: 33px;
	height: 30px;
}

.menuButton__icon{
	display: block;
	width: 100%;
	background: $white;
	height: 3px;
	position: relative;
	
	
	&:before,
	&:after{
		content : "";
		display: block;
		width: 100%;
		background: $white;
		height: 3px;
		position: absolute;
		bottom: 7px;
		left: 0;
		@include transition(transform, 0.25s);
	}

	&:after{
		bottom: -7px;
	}
}

//the active state for the button
.is-active-menuButton{
	
	.menuButton__icon{
		background: none;

		&:before{
			bottom:0;
			transform-origin:center;
			transform: rotate(45deg);
			@include transition(transform, 0.25s);
		}

		&:after{
			bottom:0;
			transform-origin:center;
			transform: rotate(-45deg);
			@include transition(transform, 0.25s);
		}
	}
}