/**
 * Module used to create the product callout sections
 * Overlay/ button componets could potentially be removed in markup and still remain functional
 */

.productCallout{
	position:relative;

	@include bp(tablet){
		&:hover{
			.productCallout__overlay{
				@include transition(opacity, 0.25s);
				opacity: 1;
			}
		}
	}
}

.productCallout__gradient{
	@include linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6));
	bottom:0;
	height: 50%;
	position: absolute;
	width: 100%;
	z-index: 1;
}

.productCallout__title{
	bottom:0;
	color: $white;
	font-size: 1.25em;
	font-weight: 600;
	left:0;
	margin-bottom: 0;
	padding: 0.5em 0;
	position:absolute;
	text-align: center;
	width: 100%;
	z-index: 2;

	@include bp-max(xlarge){
		font-size: 1.125em;
	}
}

.productCallout__overlay{
	background: rgba(0, 0, 0, 0.5);
	height: 100%;
	left:0;
	position: absolute;
	top:0;
	width:100%;

	@include bp(tablet){
		opacity:0;
	}
}

//shop now button (inside the overlay)
.productCallout__button{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	z-index:3;
}

.productCallout__imageContainer{
	max-height: 350px;
	overflow:hidden;
	width: 100%;

	//module intersection
	.forceAspect__dummy{
		padding-bottom: 50%;
	}
}