/**
 * Make a social links list that justifies its items to its full width
 */
.socialLinks{
	padding-left:0;
	list-style-type: none;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	justify-content: space-between;
	-ms-flex-pack: justify;
	
	& > li{
		display: inline-block;

		a:hover svg{
			fill: $white;
			opacity: 1;
			@include transition(all, 0.25s);
		}
	}

	svg{
		fill: $light-grey;
		opacity: 0.2;
	}
}