body{
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	font-size: 16px; //definitevely set the EM base size
	font-weight: 300;
	//stop some nasty blurry fonts that occur in firefox and OSX
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	@include primary-stack;
}

h1,
h2,
h3,
h4,
h5,
h6{
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	margin-bottom: 0.5em;
	font-weight: 600;	
	line-height: 1.1;
}

h1{font-size: 2.25em; font-weight: 300;}
h2{font-size: 1.5em;}
h3{font-size: 1.25em;}
h4{font-size: 1em;}
h5{font-size: 1em;}
h6{font-size: 1em;}

ul,
p,
li,
label{
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	line-height: 1.6;
}

ul,
p{
	margin-bottom: 1em;
}

a{
	text-decoration: none;
	color: $white;

	&:hover{
		@include transition(all, 0.25s);
		color: $light-blue;
		cursor: pointer;
	}
}

//weight modifiers
.light{font-weight: 300;}
.normal{font-weight: 400;}
.semibold{font-weight:600;}
.bold{font-weight: 700}

//size modifiers
.large-text{font-size: 1.25em;}
.xlarge-text{font-size: 1.5em;}

//other modifiers
.caps{text-transform: uppercase;}

//combo (unique) font styles
.large-blue-text{
	font-size: 1.5em;
	margin-bottom: 0.5em;
	font-weight: 600;
	color: $light-blue;
}





//-- Media queries -------------------------------//

@include bp(xlarge){
	h1{ font-size: 3.75em; }
}