//Breakpoints
//Note, using mobile first approach here, a bit different than
$breakpoints : (
	tablet: 767,
	xlarge: 1024,
	huge: 1600
);

//Grid vars
$grid-max-width: 1052px;
$grid-columns: 15;
$column-gutters-normal: 0.875em;
$column-gutters-skinny: 0.25em;

//colors
$white: #FFFFFF;
$light-grey: #EBEBEB;
$dark-grey: #312D2E;
$light-blue: #8FAFBF;
$dark-blue: #162F4C;