//Grid vars
$grid-columns: 12;
$column-gutters-normal: 0.875em;
$column-gutters-skinny: 0.5em;

//colors
$white: #FFFFFF;
$light-grey: #EBEBEB;
$dark-grey: #312D2E;
$light-blue: #8FAFBF;
$dark-blue: #162F4C;