.no-bullets{
	list-style-type: none;
	padding-left:0;
}

.right{
	float: right;
}

.left{
	float: left;
}

.cf{
	&:before,
	&:after{
		content: " ";
		display: table;
	}

	&:after{
		clear: both;
	}
}

.last{
	margin-bottom: 0;
}