#primaryHeader{
	padding-top:1.25em;

	.logo{
		max-width: 125px;
	}
}


//TODO: move these somewhere else...
.icon-fontis{
	fill: $white;
	width: 125px;
	height: 50px;
}

.icon-georgia-grown{
	fill: $light-grey;
}

#allNav{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
}

#topBar{
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
	color: #FFF;
	padding: 0.5em 0;
}

#primaryNav{
	float: right;
	color: $white;
}

#primaryNav__list{
	vertical-align: middle;
	display:inline-block;
	padding: 0;
	font-weight: 600;
	margin-bottom:0;

	li{
		display: inline-block;
		text-transform: uppercase;

		&:last-of-type{
			border-right: 1px solid $white;
		}

		a{
			display:block;
			padding: 1em 0.75em;

			&:last-of-type{
				padding-right:1.5em;
			}

			&:hover{
				color: inherit;
				text-decoration: underline;
			}
		}
	}
}

#primaryNav__logo{
	vertical-align: middle;
	display:inline-block;
	padding: 0 0.75em;
	padding-right: 0;
	width: 50px;
}

#banner{
	position: relative;
	overflow: hidden;
}

#bannerImgWrap{
	z-index: 0;
	
	//this is overriding a module that is used to create a layout
	& > .forceAspect__dummy{
		padding-bottom: 645px;
	}
	
	//this is a little proprietary hippe voo-doo to get the banner image to scale up past its max width
	@media screen and (min-width: 1440px){
		.forceAspect__img-wrap{
			width:100%;
			left:0;

			img{
				display:inline;
				max-width:100%;
				width: 100%;
				height:auto;
			}
		}
	}
}

#heroText{
	position: absolute;
	bottom:0;
	width: 100%;
	z-index:1;
	padding-bottom: 2em;
	color: #FFF;

	@include bp-max(tablet){
		padding-top:3em;
		text-align: center;
		@include linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.75));

		h1{
			font-size: 1.3125em;
			margin-bottom: 1em;
			font-weight: 600;
		}
	}
}

#hero{
	position:absolute;
	bottom:0;
	right: $column-gutters-normal;
	max-width: 325px;

	@include bp-max(tablet){
		max-width: 275px;
		right:50%;
		transform: translateX(50%);
	}
}


#callout,
#secondary-callout{
	background: $light-grey;
	padding:2.5em 0;
}

#secondary-callout{
	text-align: center;
}

#products{
	background: $white;
	padding:0.5em 0.25em;
	
	//need some spacing between these on small screens
	@include bp-max(tablet){
		.columns{
			margin-bottom: 0.5em;
			
			&:last-of-type{
				margin-bottom: 0;
			}
		}

		.forceAspect__dummy{
			padding-bottom: 65%;
		}
	}
}

#primaryFooter{
	background: $dark-grey;
	padding:3em 0;
	color: #FFF;
	text-align: center;

	.logoContainer{
		margin-bottom:1.25em;
	}

	.logo{
		display:inline-block;
		max-width: 125px;
	}

	@include bp(xlarge){
		text-align: left;
	}

	@include bp-max(tablet){
		.nested-list{
			text-align: center;
			padding:1em 0 2em 0;

			& > li a{
				display: inline-block;
				padding:1em;
			}
			
			& > li{
				display:block;
				float:none;
				margin: 0 auto;
				border-top: 1px solid $white;
				max-width: 150px;

				&:last-of-type{
					border-bottom: 1px solid $white;
				}
			}
		}
		.nested-list__sub-list{
			display:none;
		}
	}

	.footerNav__list--tablet{
		padding:1em 0;
	}

}

#connectInfo{
	@include bp-max(xlarge){
		max-width: 250px;
		float:none;
		clear: both;
		margin:0 auto;
	}
	
	.buttonField{
		margin-bottom: 2em;
	}
}


#mobileMenuContainer{
	background: $light-blue;
	position: fixed;
	top: 0;
	left: 100%;
	width: 100%;
	height: 100%;
	z-index: 100;
	overflow-y: scroll;
	opacity:0;
	@include transition(all, 0.25s);
}

#mobileMenu{
	max-width: 200px;
	padding-top: 75px;
	margin: 0 auto;
	color: $white;
}

#mobileMenuContainer.is-active-menu{
	left: 0;
	display: block;
	opacity: 1;
	@include transition(all, 0.25s);
}
