#topBar{
	background: rgba(0, 0, 0, 0.5);
	color: #FFF;
	padding: 0.5em 0;
	width: 100%;
}

#primaryHeader{
	padding-top:1.25em;

	@include bp-range(tablet, xlarge){
		padding-top: 2em;

		.menuButton{
			margin-top: 0.5em;
		}
	}
}

#allNav{
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1000;
}


#primaryNav{
	color: $white;
	float: right;
}

#primaryNav__list{
	display:inline-block;
	font-weight: 600;
	margin-bottom:0;
	padding: 0;
	vertical-align: middle;
	
	//modify the inline list module that drives the main nav
	li{
		padding: 0;
		text-transform: uppercase;

		&:last-of-type{
			border-right: 1px solid $white;
		}

		a{
			display:block;
			padding: 1em 0.75em;

			&:last-of-type{
				padding-right:1.5em;
			}

			&:hover{
				color: $dark-blue;
			}
		}
	}
}

#primaryNav__logo{
	display:inline-block;
	padding-right: 0;
	padding: 0 0.75em;
	vertical-align: middle;
	width: calc(50px + 0.75em);
}

#banner{
	position: relative;
	overflow: hidden;
}

#bannerImgWrap{
	z-index: 0;
	
	//this is overriding a module that is used to create a layout
	& > .forceAspect__dummy{
		padding-bottom: 645px;
	}
	
	//this is a little proprietary hippe voo-doo to get the banner image to scale up past its max width
	@media screen and (min-width: 1440px){
		.forceAspect__img-wrap{
			left:0;
			width:100%;

			img{
				display:inline;
				height:auto;
				max-width:100%;
				position: static;
				transform: translateY(0);
				width: 100%;
			}
		}
	}
}

//the hero text has some very niggling style changes as the layout sizes down. Ew. 
#heroText{
	bottom:0;
	padding-bottom: 2em;
	position: absolute;
	width: 100%;
	z-index:1;
	
	.heroText__headline{
		color: #FFF;
		margin-bottom: 1rem;
	}

	.heroText__copy{
		color: #FFF;
		font-size: 1.5em;
		margin-bottom:1.5em;
	}

	@include bp-max(xlarge){
		.heroText__copy{
			font-size: 1.25em;
			margin-bottom: 1em;
		}
	}

	@include bp-max(tablet){
		@include linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.75));
		padding-top:3em;
		text-align: center;

		.heroText__headline{
			font-size: 1.3125em;
			margin-bottom: 1em;
			font-weight: 600;
		}
	}
}

//big hero of the water cooler
#hero{
	bottom:0;
	max-width: 335px;
	position:absolute;
	right: $column-gutters-normal;

	@include bp-max(tablet){
		max-width: 275px;
		right:50%;
		transform: translateX(50%);
	}
}

//two light-grey callout boxes
#callout,
#secondary-callout{
	background: $light-grey;
	padding:2.25em 0;

	@include bp-max(xlarge){
		.callout__headline{
			margin-bottom: 1.25rem;
		}
	}
}

#secondary-callout{
	text-align: center;
}

//product blocks
#products{
	background: $white;
	padding:0.5em 0.25em;
	
	//need some spacing between these on small screens
	@include bp-max(tablet){
		.columns{
			margin-bottom: 0.5em;
			
			&:last-of-type{
				margin-bottom: 0;
			}
		}
		
		//increase aspect ratio of these blocks on smaller screens
		.forceAspect__dummy{
			padding-bottom: 65%;
		}
	}
}

#primaryFooter{
	background: $dark-grey;
	color: #FFF;
	padding:3em 0;
	text-align: center;

	.logoContainer{
		margin-bottom:1.5em;
	}

	@include bp(xlarge){
		text-align: left;
	}
	
	//the nested list in the footer can get re-used as the stacked nav at the smallest size
	@include bp-max(tablet){
		.nested-list{
			text-align: center;
			padding:1em 0 2em 0;

			& > li a{
				display: inline-block;
				padding:1em;
			}
			
			& > li{
				border-top: 1px solid $white;
				display:block;
				float:none;
				margin: 0 auto;
				max-width: 150px;

				&:last-of-type{
					border-bottom: 1px solid $white;
				}
			}
		}
		.nested-list__sub-list{
			display:none;
		}
	}

	.footerNav__list--tablet{
		padding:1em 0;
	}

}

//holds the email form and social icons
#connectInfo{
	label{
		color: $light-grey;
		white-space: nowrap; //heh heh no line break!
	}

	@include bp-max(xlarge){
		clear: both;
		float:none;
		margin:0 auto;
		max-width: 225px;
	}
	
	.buttonField{
		margin-bottom: 2rem;
	}
}


#mobileMenuContainer{
	@include transition(all, 0.25s);
	background: $light-blue;
	height: 100%;
	left: 100%;
	opacity:0;
	overflow-y: scroll;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

#mobileMenu{
	max-width: 200px;
	padding-top: 75px;
	margin: 0 auto;
	color: $white;
}

//state for the mobile menu when it is open
#mobileMenuContainer.is-active-menu{
	@include transition(all, 0.25s);
	display: block;
	left: 0;
	opacity: 1;
}
