#primaryHeader{
	.logo{
		max-width: 125px;
	}
}

#allNav{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
}

#topBar{
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
	color: #FFF;
	padding: 0.5em 0;
	margin-bottom:1em;
}

#primaryNav{
	float: right;
	color: $white;
}

#primaryNav__list{
	vertical-align: middle;
	display:inline-block;
	padding: 0;
	font-weight: 400;

	li{
		display: inline-block;
		text-transform: uppercase;

		&:last-of-type{
			border-right: 1px solid $white;
		}

		a{
			padding: 0.5em 0.75em;

			&:last-of-type{
				padding-right:1.5em;
			}
		}
	}
}

#primaryNav__logo{
	vertical-align: middle;
	display:inline-block;
	padding: 0 0.75em;
	padding-right: 0;
	width: 100px;
}

#banner{
	position: relative;
	overflow: hidden;
}

#bannerImgWrap{
	z-index: 0;
	
	//this is overriding a module that is used to create a layout
	& > .forceAspect__dummy{
		padding-bottom: 645px;
	}
}

#heroText{
	position: absolute;
	bottom:0;
	width: 100%;
	z-index:1;
	padding-bottom: 1.25em;
	color: #FFF;
}

#hero{
	position:absolute;
	bottom:0;
	right: $column-gutters-normal;
}


#callout,
#secondary-callout{
	background: $light-grey;
	padding:2.5em 0;
}

#secondary-callout{
	text-align: center;
}

#products{
	background: $white;
	padding:0.5em;
}

#primaryFooter{
	background: $dark-grey;
	padding:3em 0;
	color: #FFF;

	.logoContainer{
		margin-bottom:1.25em;
	}

	.logo{
		max-width: 125px;
	}
}
